// Import bootstrap
@import "~bootstrap/scss/bootstrap.scss";
// Imports the webfont
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
// Import bootstrap variables (functions are a dep of variables)
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

$rootBackground: #FAF8F4;
$textColour: #3C3C3B;
$fontFamily: "Source Sans Pro", sans-serif;
$red: #FC1921;
$normalTextSize: 18px;
$link-hover-color: $red;
$link-color: #212529;
body
{
    font-family: $fontFamily;
    font-size:$normalTextSize;
    color: $textColour;
    background-color: $rootBackground;
    margin:2em;
    .row
    {
        margin-top: 1em;
    }
    a
    {
        color:$link-color;
        &:hover
        {
            color:$link-hover-color;
        }
    }
    .actionColumn
    {
        font-size:0.8em;
        a
        {
            display:block;
        }
    }
    pre
    {
        white-space: pre-wrap;
    }
    .modal-dialog
    {
        max-width:1000px;
    }
    // Make the table seem less like a block of text
    table
    {
        .break-word
        {
            word-break: break-word;
        }
        cursor:default;
    }
    // Makes something that's not a link act like one
    .likeLink
    {
        &:hover
        {
            text-decoration: underline;
            cursor:pointer;
            color: $link-hover-color;
        }
        color: $link-color;
    }
}
